<%- layout('/layouts/boilerplate') %>
<style>
    body{
        background-color: #FFF7E6;
    }
    h1{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FF6F61;
        font-size: 6rem;
    }
</style>
<h1>Welcome to WanderLust &#127881;</h1>